body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #28272b;
    background-image: url("stars.png");
    background-size: 50%;
}

#dialogue {
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    top: 10vh;
    background: white;   
}

#WebGl {
    background: none;
    position: absolute;
    right: 0px;
    bottom: 5vh;
}